/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.shadow-all {
  box-shadow: 0 0 5px var(--ion-color-333);
  background: var(--ion-color-f3efef);
  width: 90%;
  margin: 15px auto;
}

.grid-padding {
  padding: 10px;
}

.searchbar-width {
  width: 95%;
  margin: 10px auto 0;
}

.align-center {
  text-align: center;
}

.input-field-css {
  margin: 10px 30px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--ion-color-primary-contrast);
  filter: drop-shadow(0px 0px 29px #0000002e);
}

.btn-color {
  --background: linear-gradient(to right, #D6327C, #AD1F5F);
  height: 40px;
  width: 300px;
  margin: 15px auto;
  background-color: linear-gradient(to right, #D6327C, #AD1F5F);
  border-radius: 8px;
  font-size: 14px;
}

.ion-padding-github-img {
  padding: 30px 20px 20px;
}

@media only screen and (max-width: 320px) {
  .ion-padding-github-img {
    padding: 15px 20px 15px;
  }
}

ion-toolbar {
  --background: linear-gradient(to right, #D6327C, #AD1F5F) !important;
  color: var(--ion-color-primary-contrast) !important;
}

.bold {
  font-weight: 600;
  margin-right: 2px;
}

ion-row {
  line-height: 1.5;
}

.label-text-overflow {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.description-text-overflow {
  width: 70% !important;
}